.container{
	width: 1170px !important;
}

#home-revo-slider2{
	display: none;
}

.bxslider li{
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
}

.sub-menu{
	background-color: #ccc !important;
}